body {
  background-color: #21905c;
  margin: 30px;
}

#amount {
  color: white;

}

#options {
  display: flex;
}

.option {
  display: flex;
  flex-direction: column;
  margin-inline: 30px;
  margin-top: 20px;
  background-color: #185c3c;
  padding: 30px;
  width: 40px;
  text-align: center;
  cursor: pointer;
  border-radius: 15px;
  transition: 300ms ease-in-out;
  color: white;

}

.option:hover {
  background-color: #2a5f46;
  border-radius: 15px 0px 15px 0px;
}

#high {
  box-shadow: 2px 2px 6px 6px rgba(0, 0, 0, 0.169);
  margin-top: -30px;
  margin-inline: -30px;

  padding: 20px;
}



